* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Spoqa Han Sans', sans-serif;
}

html {
    font-size: 16px;
    font-family: 'Spoqa Han Sans', sans-serif;
    letter-spacing: -.03em;
    color: #212529;
}

input {
    display: block;
    width: 360px;
    height: 44px;
    padding: 0 12px;
    border-radius: 7px;
    margin-bottom: 12px;
    font-size: 16px;
    border: 1px solid #d3dce6;
    transition: border-color 200ms ease-in-out;
}

input:focus,
input:hover,
input:active {
    outline: none;
    box-shadow: none;
    border-color: #1fb6ff;
}

.container {
    margin-top : 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 56px;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 0 3px 30px 0 rgba(0, 0, 0, 0.025);
}

.container h1 {
    margin-bottom: 8px;
    font-size: 24px;
    color: #212529;
}

.input-group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
